<template>
  <div class="wrapper">
    <div class="mainPicture"></div>
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<script>
// import axios from "@/api/";
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: "Home",
  components: {
    // HelloWorld
  },
  data() {
    return {

    };
  },
  methods:{

  }
};
</script>

<style scoped>
.mainPicture{
  background-image: url("../assets/space.jpg");
  height: 1000px;
  width: 100%;
  background-size: cover;
}
</style>
