<template>
  <div class="wrapper">
    <div class="container">
      <h2>Prijavi se</h2>
      <div class="placeholder">Email</div>
      <input type="email" v-model="email" @keypress.enter="login" />
      <div class="placeholder">Password</div>
      <input type="password" v-model="password" @keypress.enter="login" />
      <button class="login" @click="login">Prijavi se</button>
      <!-- <div class="mess">{{ mess }}</div> -->
      <div class="mess" v-show="error">Morate popuniti sva polja</div>
      <div class="mess" v-show="mess">Loše uneti email ili šifra</div>
    </div>
  </div>
</template>

<script>
import axios from "@/api/";
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      email: "",
      password: "",
      message: "",
      error: false,
      mess: false,
    };
  },
  methods: {
    ...mapActions(["change_login"]),
    login() {
      if (this.email.trim() == "" || this.password.trim() == "") {
        this.error = true;
        this.mess = false;
      } else {
        this.error = false;
        axios
          .post("blog/auth/login", {
            password: this.password,
            email: this.email,
          })
          .then((res) => {
            if (res.data.message === "ok") {
              localStorage.setItem("sid", res.data.sid);
              this.change_login(true);
              this.$router.push("/admin");
            } else {
              this.mess = res.data.message1;
              this.change_login(false);
              this.$router.go();
            }
          })
          .catch((error) => {
            console.log(error);
            this.mess = true;
            this.error = false;
          });
      }
    },
  },
  computed: {
    ...mapState(["isLoggedIn"]),
  },
};
</script>

<style scoped>

</style>