<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Početna</router-link> |
      <router-link to="/stories">Priče</router-link> |
      <router-link to="/about">O meni</router-link> |
      <router-link to="/admin" v-if="isLoggedIn">Admin</router-link> |
      <router-link to="/login" v-if="!isLoggedIn">Prijavi se</router-link> |
      <a class="link" href="/" @click="logout" v-if="isLoggedIn">Odjavi se</a>
    </div>
    <router-view />
  </div>
</template>

<script>
import axios from "@/api/";
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {};
  },
  methods: {
    ...mapActions(["change_login", "check_admin"]),
    isLogged() {
      axios
        .get("blog/auth/isLogged", {
          params: {
            sid: localStorage.getItem("sid"),
          },
        })
        .then((res) => {
          localStorage.getItem("sid");
          if (res.data.message === "ok") {
            this.change_login(true);
          } else {
            this.change_login(false);
          }
        });
    },
    logout() {
      axios
        .get("blog/auth/logout", {
          params: {
            sid: localStorage.getItem("sid"),
          },
        })
        .then((res) => {
          console.log(res.data.message);
          if (res.data.message === "Uspešno ste se odjavili") {
            this.change_login(false);
          }

          localStorage.removeItem("sid");
          this.$router.push({ path: "/" });
        });
    },
  },
  computed: {
    ...mapState(["isLoggedIn", "isAdmin"]),
  },
  mounted() {
    this.isLogged();
  },
};
</script>

<style>
body{
  margin: 0;
}
.wrapper{
  min-height: 90vh;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
